<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="androidhive.info.materialdesign" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/icona_hamburger"
        android:label="@string/app_name"
        android:theme="@style/MyMaterialTheme" >

        <!-- Start Page Activity -->
        <activity
            android:name=".activity.StartPage"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Main Activity -->
        <activity
            android:name=".activity.MainActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/app_name"
            android:windowSoftInputMode="stateHidden" >
        </activity>

        <!-- FoodDetailsActivity -->
        <activity
            android:name=".activity.FoodDetailsActivitySearch"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_food_details"
            android:parentActivityName=".activity.MainActivity" >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="androidhive.info.materialdesign.activity.MainActivity" />
        </activity>
        <activity
            android:name=".activity.FoodDetailsActivityHome"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_food_details_activity_home" >
        </activity>

        <activity
            android:name=".activity.FoodDetailsActivityCompare"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_food_details_activity_compare" >
        </activity>
        <activity
            android:name=".activity.Compare"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_activity_compare" >
        </activity>

    </application>

</manifest>
